:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hero-collor: #ffffff;
  --logo-footer-collor: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.benefits {
  padding-bottom: 0px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.logo-blue {
  color: var(--accent-color);
}
.navigation .nav-list-link.current{
  color: var(--accent-color);
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.contact-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-header-mail {
  margin-right: 50px;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.contact-mail-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}
.contact-mail-number:hover,
.contact-mail-number:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.mail-icon {
  margin-right: 10px;

justify-content: center;
align-items: center;
}
.hero {
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/Img.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-collor);
  margin-bottom: 30px;
}
.main-title-hero {
  text-align: center;
}
.modal-btn {
  min-width: 200px;
  min-height: 50px;
  padding: 8px 30px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-collor);
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}
.benefits-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.studio-cards-parent-indent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.studio-spacing-between-cards {
  margin-left: 30px;
  margin-top: 30px;
}
.parent-indent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: 50px;
}
.portfolio-cards-indent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.spacing-between-cards {
  margin-left: 8px;
  margin-top: 8px;
}
.cards-benefits {
  flex-basis: calc((100%-4 * 30) / 4);
}
.skills-card {
  flex-basis: calc((100%-3 * 30) / 3);
}
.team-card {
  flex-basis: calc((100%-4 * 30) / 4);
  border: 1px solid #ccc;
  border-top: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards-portfolio {
  flex-basis: calc((100%-3 * 30) / 3);
}
.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-section {
  background: #f5f4fa;
}
.secondary-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-cards-name {
  text-align: center;
  padding: 30px 32px;
  background-color: #ffffff;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.element-style {
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.contact-footer-tel {
  margin-bottom: 0;
}
.footer-adress {
  display: flex;
}
.footer-adress-list {
  min-width: 231px;
  margin-right: 70px;
}
.footer-list {
  min-width: 206px;
  min-height: 80px;
}
.footer-post {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff10;
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list-link:hover .social-list-icon,
.footer-social-list-link:focus .social-list-icon {
  fill: #ffffff;
}
.social-list {
  display: flex;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-list-icon {
  fill: #afb1b8;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}
.clients {
  justify-content: space-between;
  display: flex;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.clients-icon {
  fill: #afb1b8;
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*Портфолио*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container-filter-btn .filter-btn.current{
  background: #188ce8;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.spacing-between-cards-portfolio {
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-list {
  flex-wrap: wrap;
}
.filter-btn:hover,
.filter-btn:focus {
  background: #188ce8;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.portfolio-cards-name {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.list-item {
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #ffffff;
  box-sizing: border-box;
}
.list-item:hover{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.list-item-h {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-item-p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
